<aside [ngClass]="cartVisibility()? 'cart show' : 'cart' ">
    <h2>Carrito </h2>
    <button class="close" (click)="handlerCartVisibility()">Close </button>
    <section class="cart-products">
        @for(product of cart().values(); track product._id) {
        <app-cart-product [product]="product" />
        }
    </section>
    <div class="details">
        <h3>
            Total <span>{{ totalPriceCart() | currency }}</span>
        </h3>
        <a routerLink="/checkout" class="checkout">Checkout</a>
    </div>
</aside>