<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <!-- <link rel="stylesheet" href="form.css">
    <link rel="stylesheet" href="general.css"> -->
    <title>Document</title>
</head>

<body>
    <main>
        <form>
            <!-- User name -->
            <div class="form-group">
                <label for="userName">User name</label>
                <input type="text" id="userName" name="userName" placeholder="Ad lorem ipsum..."
                    formControlName="userName" />

            </div>
            <!-- First name -->
            <div class="form-group">
                <label for="firstName">First name</label>
                <input type="text" id="firstName" name="firstName" placeholder="Ad lorem ipsum..."
                    formControlName="firstName" />
            </div>
            <!-- Last name -->
            <div class="form-group">
                <label for="lastName">Last name</label>
                <input type="text" id="lastName" name="lastName" placeholder="Ad lorem ipsum..."
                    formControlName="lastName" />
            </div>
            <!-- Email -->
            <div class="form-group">
                <label for="email">Email</label>
                <input type="text" id="email" name="email" placeholder="Ad lorem ipsum..." formControlName="email" />
            </div>
            <!-- Password -->
            <div class="form-group">
                <label for="password">Password</label>
                <input type="text" id="password" name="password" placeholder="Ad lorem ipsum..."
                    formControlName="password" />
            </div>
            <!--Phone number -->
            <div class="form-group">
                <label for="phoneNumber">Phone number</label>
                <input type="text" id="phoneNumber" name="phoneNumber" placeholder="Ad lorem ipsum..."
                    formControlName="phoneNumber" />
            </div>
            <!-- Picture -->
            <div class="form-group">
                <label for="avatar">Picture</label>
                <textarea id="avatar" name="avatar" formControlName="avatar"></textarea>
            </div>
            <div class="button-container">
                <button class="buttons" type="submit">
                    Send
                </button>
            </div>

        </form>
    </main>

</body>

</html>