<footer>
    <section class="footer-container">
      <div class="footer-content-container">
        <h4>Envío de productos</h4>
        <p>
          Ciudades principales<br />
          2 a 5 días hábiles
        </p>

        <p>
          Ciudades principales<br />
          2 a 5 días hábiles
        </p>
      </div>
      <div class="footer-content-container">
        <h4>Contacto</h4>
        <p>
          Línea: 300-256-5044<br />
          Línea: 300-256-5088
        </p>
      </div>
      <div class="footer-content-container">
        <h4>Ayuda</h4>
        <p>
          Seguimiento del pedido<br />
          Preguntas frecuentes<br />
          Comprar<br />
          Soporte
        </p>
      </div>
      <div class="footer-content-container">
        <h4>Legal</h4>
        <p>
          Política de garantía<br />
          Política de envíos<br />
          Política de devoluciones
        </p>
      </div>
    </section>
  </footer>