<footer>
  <div id="footer-content-container">
    <div class="footer-content">
      <h4>Envío de productos</h4>
      <p>
        Ciudades principales <br />
        2 a 5 dias hábiles <br />
        <br />
        Ciudades intermedias <br />
        5 a 8 dias hábiles
      </p>
    </div>
    <div class="footer-content">
      <h4>Contacto</h4>
      <p>
        Línea: 300-256-5044 <br />
        Línea: 300-256-5088 <br />
        <br />
      </p>
      <div class="footer-icons-container">
        <img src="whatsapp.png" alt="WhatsApp" />
        <img src="instagram.png" alt="Instagram" />
        <img src="facebook.png" alt="Facebook" />
      </div>
    </div>
    <div class="footer-content">
      <h4>Ayuda</h4>
      <p>
        Seguimiento del pedido <br />
        Preguntas frecuentes <br />
        <br />
        Comprar <br />
        Soporte
      </p>
    </div>
    <div class="footer-content">
      <h4>Legal</h4>
      <p>
        Política de garantía <br />
        Política de envíos <br />
        <br />
        Política de devoluciones <br />
        Política de privacidad
      </p>
    </div>
  </div>
</footer>
