<header>
  <div class="header-logo">
    <a routerLink="/"><img src="logo.png" alt="motozone logo" /></a>
  </div>
  <nav>
    <div class="nav-bar" [ngClass]="activarMenu() ? '': 'ocultar'">
      <!-- <a href="#">Nosotros</a> -->
      <a routerLink="#">Productos</a>
      <a (click)="iraSection('Servicios')">Servicios</a>
      
      <a routerLink="#">Contacto</a>
    </div>
    <div class="nav-menu">
      <img src="menu.png" alt="hamburguer menu" (click)="toggleMenu()" />
      
    </div>
   
  </nav>
</header>