header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 10px 25px;
  margin-bottom: 20px;
  background-color: var(--color-red);
  font-family: var(--font-titles);
  color: var(--color-white);
  position: sticky;
  top: 0;
}
/* .header{
  position: relative;
} */
.header-logo img {
  width: 70px;
}
nav {
  display: flex;
  align-items: center;
}
/* .nav-bar {
  display: none;
} */
.nav-cta a {
  background-color: var(--color-light-red);
  padding: 10px 20px;
  border-radius: 20px;
}
.nav-menu {
  display: none;
}
.nav-menu img {
  width: 35px;
}

.nav-bar {
  display: flex;
  padding: 20px;
  /* top: 100%;
  left: 0; */
  width: 100%;
  background-color: var(--color-red);
  /* position: absolute; */
}

.nav-bar a {
  margin: 10px;
  width: 100%;
  cursor: pointer;
}


@media screen and (max-width: 650px) {
  .nav-menu {
    display: block;
  }
  .nav-bar a {
    border: none;
    padding: 10px;
  }
  .nav-bar {
    position: absolute;
    top: 75px;
    right: 0;
    height: 200px;
    border-bottom: none;
    flex-direction: column;
    background-color:var(--color-red);
  }
  .nav-bar.ocultar {
  display: none;
}
}
