<header>
    <div class="header-logo">
      <img src="logo.png" alt="motozone logo" />
    </div>
    <!-- <input
      type="text"
      id="header-input"
      name="header-input"
      placeholder="Search..."
    /> -->
    <nav>
      <a href="#">Nosotros</a>
      <a href="#">Productos</a>
      <a href="#">Servicios</a>
      <div class="header-cta">
        <a href="#">Contacto</a>
      </div>
      <div class="header-menu">
        <img src="menu.png" alt="hamburguer menu" />
      </div>
    </nav>
  </header>
