<main>
  <section class="product-detail-container">
    <div class="product-detail-img-container">
      <img [src]="'http://localhost:3000/imgProducts/' + product()?.image" alt="" />
    </div>
    <div class="product-info">
      <h2>{{ product()?.name }}</h2>
      <div class="rating-container">
        <i class="bi bi-star-fill"></i>
        <i class="bi bi-star-fill"></i>
        <i class="bi bi-star-fill"></i>
        <i class="bi bi-star-fill"></i>
        <i class="bi bi-star"></i>
        <div class="product-rating-text-container">
          <p>| 17 Reviews</p>
        </div>
      </div>
      <h4>COP {{ product()?.price }}</h4>
      <p><span>ID: </span>{{ product()?._id }}</p>
      <p><span>Disponibilidad: </span>{{ product()?.stock }}</p>
      <div class="product-buttons-container">
        <div class="quantity-button">
          <!-- <button type="button" class="decrement" (click)="decrementProductInCart(product()?._id)">
            -
        </button>
          <input type="number" name="quantity" id="quantity" [formControl]="productQuantity" />
          <button type="button" class="increment" (click)="incrementProductInCart(product()?._id)">
            +
        </button> -->
        </div>
        <button class="add-cart" (click)="addToCart(product()!)">
          Agregar al carrito
      </button>
      </div>
      Productos extra para complementar tu compra:
      @for (card of products(); track card._id){
      <div class="extra-products">
        <div class="extra-products-cards">
          <img [src]="'http://localhost:3000/imgProducts/' + card.image" alt="" />
          <div class="extra-product-cards-content">
            <div class="extra-details">
              <h4>{{card.name}}</h4>
              <h4>COP {{card.price}} </h4>
            </div>
            <div class="extra-buttons">
              <button class="add-cart" (click)="addToCart(card!)">
                Agregar al carrito
            </button>
              <!-- <button>Cancelar</button> -->
            </div>
          </div>
        </div>
        <!-- <div class="extra-products-cards">
          <img src="wheels.avif" alt="extra product 2" />
          <div class="extra-product-cards-content">
            <div class="extra-details">
              <h4>Producto 2</h4>
              <h4>COP 140.000</h4>
            </div>
            <div class="extra-buttons">
              <button>Añadir</button> -->
              <!-- <button>Cancelar</button> -->
            <!-- </div> -->
          <!-- </div> -->
        <!-- </div> -->
      </div>}
      <div class="total">
        <!-- <p><span>Precio Total: </span>COP 999999</p> -->
        <button>Ir al carrito</button>
      </div>
    </div>
    <div class="product-description">
      <h3>Descripción</h3>
      <p>
        {{ product()?.description }}
      </p>
    </div>
    <div class="specifications">
      <h3>Especificaciones Técnicas</h3>
      <p><span>Nombre: </span>{{ product()?.name }}</p>
      <p><span>Precio: </span>COP {{ product()?.price }}</p>
      <p><span>Marca: </span>{{ product()?.brand }}</p>
      <p><span>Modelo: </span>{{product()?.model}}</p>
      <p><span>Categoría: </span>{{product()?.category}}</p>
      <!-- <p><span>Peso: </span> </p> -->
      <p><span>Dimensiones: </span>{{product()?.dimensions}}</p>
    </div>
  </section>
</main>
