<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <!-- <link rel="stylesheet" href="form.css">
    <link rel="stylesheet" href="general.css"> -->
    <title>Document</title>
</head>

<body>
    <main>
        <form>
            <!-- Dirección -->
            <div class="form-group">
                <label for="direccion">Dirección</label>
                <input type="text" id="direccion" name="direccion" placeholder="Ad lorem ipsum..."
                    formControlName="direccion" />

            </div>
            <!-- Confirmar dirección -->
            <div class="form-group">
                <label for="confirmarDireccion">Confirmar dirección</label>
                <input type="text" id="confirmarDireccion" name="confirmarDireccion" placeholder="Ad lorem ipsum..."
                    formControlName="confirmarDireccion" />
            </div>
            <!-- Departamento -->
            <div class="form-group">
                <label for="departamento">Departamento</label>
                <input type="text" id="departamento" name="departamento" placeholder="Ad lorem ipsum..."
                    formControlName="departamento" />
            </div>
            <!-- Ciudad -->
            <div class="form-group">
                <label for="ciudad">Ciudad o municipio</label>
                <input type="text" id="ciudad" name="ciudad" placeholder="Ad lorem ipsum..." formControlName="ciudad" />
            </div>
            <!-- Barrio -->
            <div class="form-group">
                <label for="barrio">Barrio o vereda</label>
                <input type="text" id="barrio" name="barrio" placeholder="Ad lorem ipsum..." formControlName="barrio" />
            </div>
            <!-- Referencia -->
            <div class="form-group">
                <label for="referencia">Referencia</label>
                <input type="text" id="referencia" name="referencia" placeholder="Ad lorem ipsum..."
                    formControlName="referencia" />
            </div>
            <div class="button-container">
                <button class="buttons" type="submit">
                    Send
                </button>
            </div>

        </form>
    </main>

</body>

</html>