<main>
    <div class="Login">
        <form [formGroup]="login" (submit)="onSubmit()" class="formulario">
            <h2 class="create-account">Iniciar sesión</h2>

            <input type="email" placeholder="Email" formControlName="email" />
            <input type="password" placeholder="Contraseña" formControlName="password" />
            @if(error().length!==0){
            <small>{{error()}}</small>
            }

            <div class="iconos">

                <button type="submit" class="border-icon">Login</button>


                <button routerLink="/register" class="border-icon">Register</button>
            </div>

        </form>
    </div>
</main>