<main>
    <div class="Login">
        <form [formGroup]="login" (submit)="onSubmit()" class="formulario">
            <h2 class="create-account">Iniciar sesion</h2>

            <input type="email" placeholder="Email" formControlName="email" />
            <input type="password" placeholder="Contraseña" formControlName="password" />
            @if(error().length!==0){
            <small>{{error()}}</small>
            }
            <div>
                <button class="buttonLogin" type= "submit">Login</button>
                <button class="buttonRegister" routerLink="/register">Register</button>
            </div>


            <div class="iconos">
                <div class="border-icon">
                    <i class="bx bxl-instagram"></i>
                </div>
                <div class="border-icon">
                    <i class="bx bxl-facebook-circle"></i>
                </div>
            </div>
        </form>
    </div>
</main>