<!-- <header></header> -->
<main class="main-container">
    <div class="nav-bar-user-container">
        <div class="img-user-container"><img class="img-user"
                [src]="'http://localhost:3000/imgUser'+ user()?.image" [alt]="user()?.username">
        </div>
    </div>
    <div class="name-user-container">
        <h1>{{user()?.username}}</h1>
    </div> <!--propiedad nombre del usuario -->

    <!-- -->
    <div class="user-option-grid-container">
        <section class="user-option-grid-section">
            <div class="user-options">
                <a routerLink="{{'/viewProfileData'}}">
                    MIS DATOS PERSONALES
                </a>
            </div>
            <div class="user-options">
                <a routerLink="{{'/updateUser'}}">ACTUALIZAR
                    MIS DATOS PERSONALES
                </a>
            </div>
            <div class="user-options"><a routerLink="{{'/userPurchaseHistory'}}">HISTORIAL DE PEDIDOS</a></div>
        </section>
    </div>
    <div class="button-container">
        <button class="buttons" (click)="logout()">Cerrar sesión </button>
    </div>
</main>
<!-- <footer></footer> -->