<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <!-- <link rel="stylesheet" href="index.css">
    <link rel="stylesheet" href="general.css"> -->
    <title>Document</title>
</head>

<body>
    <header></header>
    <main class="main-container">
        <div class="nav-bar-user-container">
            <nav class="nav-bar-user">Barra de navegación para que el usuario navegue entre páginas</nav>
            <div class="img-user-container"><img class="img-user" src="./img/IMG_20221221_201628.jpg"
                    alt="Imagen de ejemplo">
            </div>
        </div>
        <div class="name-user-container">
            <h1>Su cuenta</h1>
        </div> <!--propiedad nombre del usuario -->

        <!-- -->
        <div class="user-option-grid-container">
            <section class="user-option-grid-section">
                <div class="user-options">
                    MIS DATOS PERSONALES
                </div>
                <div class="user-options">
                    <a href="*">ACTUALIZAR
                        MIS DATOS PERSONALES
                    </a>
                </div>

                <div class="user-options"><a href="*">AÑADIR DIRECCIÓN DE ENVÍO</a></div>
                <div class="user-options"><a href="*">HISTORIAL DE PEDIDOS</a></div>
                <div class="user-options">MI CARRITO</div>
            </section>
        </div>
        <div class="button-container">
            <button class="buttons">Cerrar sesión </button>
        </div>
    </main>
    <footer></footer>
</body>

</html>