<article class="product">
    <figure>
        <img src="" alt="" />
        <figcaption>
            <p>{{ product.name }}</p>
            <p>{{ product.price | currency }}</p>
        </figcaption>
    </figure>
    <div class="actions">
        <button (click)="deleteProductInCartById(product._id)">Borrar</button>
        <form action="">
            <button type="button" class="decrement" (click)="decrementProductInCart(product._id)">
                -
            </button>
            <input type="number" name="quantity" id="quantity" [formControl]="productQuantity" />
            <button type="button" class="increment" (click)="incrementProductInCart(product._id)">
                +
            </button>
        </form>
    </div>
</article>