<article class="product">
    <figure>
        <img src="" alt="" />
        <figcaption>
            <p></p>
            <p></p>
        </figcaption>
    </figure>
    <div class="actions">
        <button>Borrar</button>
        <form action="">
            <button type="button" class="decrement">
                -
            </button>
            <input type="number" name="quantity" id="quantity" formControl="productQuantity" />
            <button type="button" class="increment">
                +
            </button>
        </form>
    </div>
</article>