<main>
  <!-- promo -->

  <section class="promo-container">
    <div class="promo-img-container">
      <img src="mainpromo.png" alt="promotion slider" />
    </div>
  </section>
  <section class="promo-slider">
    <img src="backtobutton.png" alt="back" />
    <div class="promo-slider-dot">
      <img src="sliderdot1.png" alt="slider dot current" />
      <img src="sliderdot2.png" alt="slider dot" />
      <img src="sliderdot2.png" alt="slider dot" />
    </div>
    <img src="nextpagebutton.png" alt="forward" />
  </section>

  <!-- main cards -->
  <!-- main img -->

  <section class="main-container">
    <div class="main-img-container">
      <img src="main-img.png" alt="main promotion" />
    </div>
    <!-- featured products -->

    <section class="main-cards-container">
      <h2>Productos destacados</h2>

      <!-- feaduted products cards -->

      <section class="main-cards">
        <div class="main-cards-container-2">
          <div class="main-cards-img-container">
            <img src="chains.png" alt="chains" />
          </div>
          <div class="main-cards-text-container">
            <h3>Cadenas</h3>
            <h3>COP 100.000</h3>
          </div>
          <div class="main-cards-button-container">
            <button>Ver más</button>
          </div>
        </div>
        <div class="main-cards-container-2">
          <div class="main-cards-img-container">
            <img src="/lubricants2.png" alt="lubricants" />
          </div>
          <div class="main-cards-text-container">
            <h3>Lubricantes</h3>
            <h3>COP 30.000</h3>
          </div>
          <div class="main-cards-button-container">
            <button>Ver más</button>
          </div>
        </div>
        <div class="main-cards-container-2">
          <div class="main-cards-img-container">
            <img src="wheels.avif" alt="wheels" />
          </div>
          <div class="main-cards-text-container">
            <h3>Ruedas</h3>
            <h3>COP 185.000</h3>
          </div>
          <div class="main-cards-button-container">
            <button>Ver más</button>
          </div>
        </div>
        <div class="main-cards-container-2">
          <div class="main-cards-img-container">
            <img src="chains2.jpg" alt="chains" />
          </div>
          <div class="main-cards-text-container">
            <h3>Cadenas</h3>
            <h3>COP 120.000</h3>
          </div>
          <div class="main-cards-button-container">
            <button>Ver más</button>
          </div>
        </div>
      </section>
    </section>
  </section>

  <!-- about us  -->

  <section class="service_section">
    <article class="services_cards container"></article>
    <div class="services_cards-info">
      <h2>Nuestros Servicios</h2>
      <p>
        En nuestra tienda_______, nos dedicamos a ofrecer productos de alta
        calidad para mantener tu motocicleta en óptimas condiciones. Contamos
        con una amplia variedad de piezas originales y compatibles para todas
        las marcas y modelos. Nuestro equipo de expertos está siempre disponible
        para asesorarte y ayudarte a encontrar el repuesto perfecto. Nos
        enorgullece brindar un servicio rápido y eficiente, asegurando que tu
        moto esté siempre lista para la carretera. Confía en nosotros para todas
        tus necesidades de repuestos y disfruta de una experiencia de compra sin
        igual.
      </p>
    </div>

    <div class="service-card-container">
      <div class="service_card">
        <a href="#">
          <i class="bi bi-phone"></i>
          <h3>Preguntas frecuentes</h3>
          <p>
            Haz clic aquí para conocer los métodos de pago aceptados,
            información sobre envíos, cómo rastrear tu pedido, detalles de la
            garantía de nuestros productos y la calidad de nuestros productos.
          </p>
        </a>
      </div>
      <div class="service_card">
        <a href="#">
          <i class="bi bi-telephone-fill"></i>
          <h3>Contacto</h3>
          <p>
            Para consultas, contáctanos a través de nuestro formulario en línea
            o llámanos al número de atención al cliente disponible en nuestra
            web.
          </p>
        </a>
      </div>

      <div class="service_card">
        <a href="#">
          <i class="bi bi-box-arrow-in-right"></i>
          <h3>Inicio de sesion</h3>
          <p>
            Haz clic aquí para iniciar sesion o hacer el registro de usuario
          </p>
        </a>
      </div>
    </div>
  </section>
</main>
