main {
  width: 100%;
  max-width: 1200px;
  margin: 0 auto;
  padding: 0 20px;
}

section {
  width: 70%;
  margin: 0 auto;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

section .item-data {
  width: 100%;
  margin-bottom: 20px;
  display: flex;
  justify-content: center;
  align-items: center;
}

section .item-data label {
  width: 100%;
  display: inline-block;
}

section .item-data p {
  width: 100%;
  padding: 8px 10px;
}
section .form-group textarea {
  width: 100%;
  padding: 8px 10px;
}
section .current-image {
  margin-top: 0.5em;
  width: 60px;
}
