<main>
    <div class="up">
        <div class="ingredients">
            <h2>Ship To: </h2>
            <ul>

                <li>Use name: {{user()?.firstName}}</li>
                <li>Phone number:{{user()?.phoneNumber}} </li>

            </ul>
        </div>
        <div class="nutrition">
            <h2>Products</h2>
            <table>
                <colgroup span="4" class="columns"></colgroup>
                <tr>
                    <th>Items</th>
                    <th>Description</th>
                    <th>Quantity</th>
                    <th>Unit price</th>

                </tr>

                @for(product of products(); track product._id ){
                <tr>
                    <td>{{product.product.name}}</td>
                    <td>{{product.product.description}}</td>
                    <td>{{product.product.price}}</td>

                </tr>

                }
                <tr>
                    <td>{{itemName()}}</td>
                </tr>


            </table>
            <!-- <table>
                <colgroup span="4" class="columns"></colgroup>
                <tr>
                    <th>Items</th>
                    <th>Description</th>
                    <th>Quantity</th>
                    <th>Unit price</th>
                    <th>Total</th>

                </tr>

                @for(product of products(); track product._id ){
                <tr>
                    <td>{{product.product.name}}</td>
                    <td>{{product.product.description}}</td>
                    <td>{{product.quantity}}</td>
                    <td>{{product.product.price}}</td>

                </tr>

                }



                @for(order of orders();track order._id){
                <tr>
                    <td> {{order.total}}</td>
                </tr>


                }

            </table> -->

        </div>
    </div>
</main>