<main>
    <section class="payment">
        <h2>Detalles del pago</h2>
        <form action="" (submit)="onSubmit()" [formGroup]="paymentDetails">
            <div class="formGroup">
                <label for="shippingAdress">Shipping Address</label>
                <input type="text" name="shippingAdress" id="shippingAdress" formControlName="shippingAdress" />
            </div>
            <div class="formGroup">
                <label for="paymentMethod">Payment Method</label>
                <select name="paymentMethod" id="paymentMethod" formControlName="paymentMethod">
                    <option value="cash">Cash</option>
                    <option value="creditCard">Credit Card</option>
                    <option value="savingAccount">Savings Account</option>
                    <option value="currentAccount">Current Account</option>
                </select>
            </div>
            <button type="submit">Make Purchase</button>
        </form>
    </section>
    <section class="cart">
        <h2>Cart</h2>
        @if(message().length>0){
        <small>{{message()}}</small>
        }
        @for(product of products().values(); track product._id) {
        <app-cart-product [product]="product" />
        }
    </section>
</main>